@use 'mixins/adaptive-font' as *;
@use './chunk/burger-menu';

.logo {
	display: flex;
	align-items: center;

	&__img {
		max-width: 200px;
	}
}

.menu {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;

	&__body {
		width: 100%;

		&--mobile {
			position: fixed;
			left: -100%;
			top: 0;
			z-index: 5;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			overflow: auto;
			padding: 100px 30px 30px;
			width: 100%;
			height: 100vh;
			background-color: var(--light-color);
			transition: left 0.3s;
		}

		&--active {
			left: 0;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		gap: 10px 20px;

		&--mobile {
			flex-direction: column;
		}
	}

	&__link {
		font-weight: 600;
		font-style: normal;
		font-size: 12px;
		text-align: center;
		text-transform: uppercase;
		transition: color var(--time);

		&:hover {
			color: var(--accent-color);
		}
	}
}

.link {
	border: 2px solid var(--accent-color);
	border-radius: 30px;
	padding: 15px;
	min-width: 260px;
	font-weight: 600;
	font-size: 16px;
	text-align: center;
	transition:
		background-color var(--time),
		color var(--time);

	&:hover {
		color: var(--light-color);
		background-color: var(--accent-color);
	}

	&--bg-red {
		border: none;
		padding: 17px;
		color: var(--light-color);
		background-color: var(--accent-color);
		transition: filter var(--time);

		&:hover {
			filter: brightness(0.8);
		}
	}

	&--white {
		border-color: var(--light-color);
		transition: filter var(--time);

		&:hover {
			background-color: transparent;
			filter: brightness(0.8);
		}
	}

	@media (max-width: 576px) {
		width: 100%;
	}
}

.input {
	outline: 2px solid transparent;
	border: 1px solid var(--border-color);
	border-radius: 8px;
	padding: 12px 15px;
	box-shadow: 0.705px 0.705px 7.048px 0 rgb(33 33 50 / 6%) inset;
	font-weight: 500;
	transition: outline-color var(--time);

	&:focus {
		outline-color: var(--accent-color);
	}
}

.submit {
	border: 2px solid var(--accent-color);
	border-radius: 30px;
	padding: 12px 15px;
	font-weight: 600;
	font-size: 14px;
	transition:
		background-color var(--time),
		color var(--time);
	cursor: pointer;

	&:hover {
		color: var(--light-color);
		background-color: var(--accent-color);
	}
}

.drop-zone {
	position: relative;
	border: 2px dashed var(--accent-color);
	border-radius: 8px;
	padding: 12px 15px;
	box-shadow: 0.705px 0.705px 7.048px 0 rgb(33 33 50 / 6%);
	background-color: var(--light-color);
	cursor: pointer;

	&::after {
		content: '';
		position: absolute;
		right: 15px;
		top: 50%;
		width: 7px;
		height: 15px;
		background-image: url('@img/icons/sprite.svg#clip-icon');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		transform: translateY(-50%);
	}

	&__text {
		font-weight: 500;
		font-size: 14px;
	}
}

.select {
	position: relative;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 1px solid var(--border-color);
		border-radius: 8px;
		padding: 12px 15px;
		box-shadow: 0.705px 0.705px 7.048px 0 rgb(33 33 50 / 6%) inset;
		font-weight: 500;
		cursor: pointer;
	}

	&__current {
		font-size: 18px;
		line-height: 24px;
	}

	&__icon {
		flex-shrink: 0;
		width: 10px;
		height: 6px;
		transition: transform var(--time);
	}

	&__body {
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		z-index: 2;
		display: none;
		border-radius: 8px;
		background-color: var(--light-color);
	}

	&__item {
		padding: 12px 15px;
		font-size: 16px;
		line-height: 24px;
		cursor: pointer;
	}

	&__item:hover {
		background-color: #f2f2f2;
	}

	&.is-active {
		.select__icon {
			transform: rotate(180deg);
		}

		.select__body {
			display: block;
		}
	}
}

.form-details-table__select {
	.select__current,
	.select__item {
		font-size: inherit;
	}

	.select__header {
		border: none;
		padding: 2px 8px;
		box-shadow: none;
		gap: 0 20px;
	}

	.select__item {
		padding: 8px;
		text-align: left;
	}

	@media (max-width: 576px) {
		.select__header {
			flex-direction: column;
			padding: 5px;
		}

		.select__icon {
			width: 6px;
			height: 2px;
		}

		.select__item {
			padding: 5px;
		}
	}
}

.socials {
	display: flex;
	align-items: center;
	gap: 20px;

	&__link {
		transition: opacity var(--time);

		&:hover {
			opacity: 0.5;
		}
	}

	&__icon {
		width: 15px;
		height: 15px;
	}

	&--light svg {
		fill: var(--light-color);
	}
}

.headlines {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 50px;

	&__title {
		position: relative;
		margin: 0;
		padding-left: 20px;
		font-weight: 400;
		line-height: 1.2;
		text-transform: uppercase;
		color: var(--dark-opacity-color);
		opacity: 0.6;
		@include adaptive-font(19, 14);

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			border-radius: 50%;
			width: 4px;
			height: 4px;
			background-color: currentcolor;
			transform: translateY(-50%);
		}
	}

	&__subtitle {
		margin: 0;
		max-width: 445px;
		font-weight: 500;
		line-height: 1.2;
		@include adaptive-font(32, 24);
	}

	&--small-margin {
		margin-bottom: 25px;
	}

	@media (max-width: 576px) {
		margin-bottom: 25px;

		&--small-margin {
			margin-bottom: 15px;
		}
	}
}

.title {
	margin: 0;
	margin-bottom: 25px;
	max-width: 445px;
	font-weight: 500;
	line-height: 1.2;
	@include adaptive-font(32, 24);

	@media (max-width: 576px) {
		margin-bottom: 15px;
	}
}

.text {
	margin: 0;
	font-weight: 500;
	line-height: var(--line-height);
	opacity: 0.9;
	@include adaptive-font(16, 14);
}

.content {
	h2 {
		font-weight: 500;
		line-height: 1.2;
		@include adaptive-font(32, 24);
	}

	h2.title {
		position: relative;
		margin: 0;
		padding-left: 20px;
		font-weight: 400;
		line-height: 1.2;
		text-transform: uppercase;
		color: var(--dark-opacity-color);
		opacity: 0.6;
		@include adaptive-font(19, 14);

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			border-radius: 50%;
			width: 4px;
			height: 4px;
			background-color: currentcolor;
			transform: translateY(-50%);
		}
	}

	h3 {
		font-weight: 500;
		line-height: 1.2;
		@include adaptive-font(26, 19);
	}

	h3.subtitle {
		margin-top: 0;
		max-width: 445px;
		font-size: 32px;
	}

	h4 {
		font-weight: 500;
		line-height: 1.2;
		@include adaptive-font(21, 15);
	}

	h5 {
		font-weight: 500;
		line-height: 1.2;
		@include adaptive-font(17, 12);
	}

	h6 {
		font-weight: 500;
		line-height: 1.2;
		@include adaptive-font(14, 11);
	}

	p {
		font-weight: 500;
		line-height: var(--line-height);
		opacity: 0.9;
		@include adaptive-font(16, 14);
	}

	a {
		display: inline-block;
		font-family: inherit;
		font-size: inherit;
		line-height: 1;
		text-decoration: none;
		color: inherit;
	}

	a:not(.link) {
		position: relative;
		color: var(--accent-color);
		transition: color var(--time);

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background-color: currentcolor;
			transition: width var(--time);
		}

		&:hover {
			color: inherit;

			&::after {
				width: 0;
			}
		}
	}

	blockquote {
		margin-right: 0;
		margin-left: 0;
		border-left: 3px solid var(--accent-color);
		border-radius: 0 5px 5px 0;
		padding: 30px;
		width: 100%;
		box-shadow: 0 0 10px rgb(0 0 0 / 25%);
		font-style: italic;

		p {
			margin: 0;
		}

		@media (max-width: 576px) {
			padding: 15px 30px;
		}
	}
}

.layout {
	display: flex;

	@media (max-width: 992px) {
		flex-direction: column;
		align-items: center;
	}
}

.sidebar {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	width: 100%;
	max-width: 30%;
	transition: all var(--time);

	&__wrap {
		position: relative;
		padding: 50px 25px 300px 0;
		width: 100%;
		background-color: var(--light-grey-color);

		&::before {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: -1;
			width: 100vw;
			height: 100%;
			background-color: var(--light-grey-color);

			@media (max-width: 992px) {
				content: none;
			}
		}

		@media (max-width: 992px) {
			border-radius: 4px 4px 0 0;
			padding: 25px;
		}
	}

	@media (max-width: 992px) {
		position: fixed;
		bottom: -100%;
		z-index: 20;
		max-width: 100%;

		&--is-open {
			bottom: 0;
		}
	}
}

.layout-section {
	padding-top: 50px;
	padding-left: 50px;
	width: 100%;

	@media (max-width: 992px) {
		padding-left: 0;
	}
}

.product-cards {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.product-card {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	border: 1px solid rgb(36 36 36 / 10%);
	padding: 15px;

	&__inner {
		display: flex;
		align-items: center;
		gap: 25px;

		@media (max-width: 992px) {
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 25px;
		}
	}

	&__img {
		display: flex;
		flex-shrink: 0;
		height: 105px;
		max-width: 105px;
	}

	&__detalies {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__title {
		margin: 0;
		margin-bottom: 10px;
		font-weight: 600;
		font-size: 16px;
		line-height: 1.2;
	}

	&__price {
		font-weight: 600;
		font-size: 16px;
		line-height: 1.2;
		color: var(--accent-color);
	}

	&__link {
		padding: 10px;
		min-width: 0;
		font-size: 14px;

		@media (max-width: 992px) {
			align-self: flex-end;
		}
	}

	@media (max-width: 992px) {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
}

.list-char {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	font-weight: 500;
	font-size: 14px;
	line-height: normal;
	opacity: 0.5;
	gap: 5px;
}

.btn {
	border: 1px solid rgb(0 0 0 / 7%);
	border-radius: 30px;
	padding: 12px 20px;
	width: 100%;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	background-color: var(--light-grey-color);

	&--filter {
		margin-top: 25px;

		span {
			padding-right: calc(15px + 24px);
			background-image: url('@img/general/filter.webp');
			background-position: center right;
			background-size: 24px;
			background-repeat: no-repeat;
		}
	}

	@media (min-width: 992px) {
		display: none;
	}
}
