@use 'mixins/adaptive-font' as *;
@use 'vars' as *;

html {
	height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	height: 100%;
	font-family: var(--font-family);
	font-weight: 400;
	line-height: var(--line-height);
	color: var(--dark-color);
	background-color: var(--light-color);
	@include adaptive-font(18, 16);

	&.lock {
		overflow: hidden;
	}
}

.site-container {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 1 auto;
	padding-bottom: 60px;
}

.section {
	padding: 60px 0;

	&-request {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: var(--accent-color);
	}

	&:last-child:not(.section-request) {
		padding-bottom: 0;
	}

	&--padding-big {
		padding: 120px 0;
	}

	&--hero-bg {
		background:
			linear-gradient(0deg, rgb(33 33 35 / 45%) 0%, rgb(33 33 35 / 45%) 100%),
			url('@img/hero/bg.webp') lightgray no-repeat;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: $container-width + px;

	&--full {
		padding: 0;
		width: 100%;
		max-width: 100%;
	}
}

img {
	max-width: 100%;
	object-fit: cover;
}

.link-reset {
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

.btn-reset {
	border: none;
	padding: 0;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

.input-reset {
	margin: 0;
	border: none;
	padding: 0;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

.is-hidden {
	position: absolute;
	overflow: hidden;
	margin: 0;
	border: 0;
	padding: 0;
	width: 0;
	height: 0;
	white-space: nowrap;
}
