// * Максимальная и минимальная ширина макета
$container-width: 1230;
$mobile-width: 375;

:root {
	// * Цвета
	--dark-color: #212123;
	--light-color: #fbfbfd;
	--accent-color: #ba122b;
	--border-color: #e6e6e8;
	--grey-color: #46484c;
	--error-color: #f06464;

	// * Шрифты
	--font-family: 'Montserrat', sans-serif;
	--line-height: 1.5;

	// * Визуал
	--time: 0.2s;
	--radius: 15px;

	// * Медиа бургера
	--mobile-width: 768;
}
