.about {
	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
		width: fit-content;
	}

	&__text {
		margin: 0;
		margin-bottom: 30px;
		max-width: 545px;
	}

	&__img {
		/* stylelint-disable-next-line at-rule-empty-line-before */
		@media (min-width: 577px) {
			display: none;
		}
	}
}
