.footer {
	color: var(--light-color);
	background-color: var(--dark-color);

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid var(--grey-color);
		padding: 25px 0;
		gap: 35px;

		&:last-child {
			border-bottom: none;
		}
	}

	&__menu {
		& .menu__link {
			font-weight: 600;
			color: inherit;
		}
	}

	&__link {
		padding: 20px 30px;
	}

	&__policy {
		font-weight: 500;
		font-size: 14px;
		color: var(--light-color);
		transition: filter var(--time);

		&:hover {
			filter: brightness(0.8);
		}
	}

	&__copyright {
		font-weight: 500;
		font-size: 14px;
		text-align: right;
		color: var(--light-color);
	}
}

.footer-contacts {
	display: flex;
	gap: 50px;
	align-items: center;

	&__item {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: flex-start;
	}

	&__title {
		font-weight: 700;
		font-size: 16px;
		line-height: 25.6px;
	}

	&__value {
		font-style: normal;
		font-size: 16px;
		line-height: 100%;
		text-decoration-style: solid;
		text-decoration-line: underline;
		text-underline-position: from-font;
		color: var(--light-color);

		&--hover {
			transition: filter var(--time);

			&:hover {
				filter: brightness(0.8);
			}
		}
	}
}
