.footer {
	color: var(--light-color);
	background-color: var(--dark-color);

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid var(--grey-color);
		padding: 25px 0;
		gap: 30px 20px;

		&:last-child {
			border-bottom: none;
		}

		&--mobile {
			/* stylelint-disable-next-line at-rule-empty-line-before */
			@media (min-width: 577px) {
				display: none;
			}
		}

		@media (max-width: 992px) {
			flex-wrap: wrap;
		}

		@media (max-width: 576px) {
			flex-direction: column;
			gap: 15px;
		}
	}

	&__menu {
		& .menu__list {
			flex-wrap: wrap;
			justify-content: center;
		}

		& .menu__link {
			font-weight: 600;
			color: inherit;
		}

		@media (max-width: 992px) {
			display: none;
		}
	}

	&__socials {
		/* stylelint-disable-next-line at-rule-empty-line-before */
		@media (max-width: 576px) {
			display: none;
		}
	}

	&__link {
		border: 1px solid var(--light-color);
		border-radius: 30px;
		padding: 20px 30px;
		font-size: 16px;
		text-align: center;
		transition: filter var(--time);

		&:hover {
			filter: brightness(0.8);
		}

		@media (max-width: 576px) {
			width: 100%;

			&--desktop {
				display: none;
			}
		}
	}

	&__policy {
		font-weight: 500;
		font-size: 14px;
		color: var(--light-color);
		transition: filter var(--time);

		&:hover {
			filter: brightness(0.8);
		}
	}

	&__copyright {
		font-weight: 500;
		font-size: 14px;
		text-align: right;
		color: var(--light-color);

		@media (max-width: 576px) {
			& br {
				display: none;
			}
		}
	}
}

.footer-contacts {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 30px 50px;

	&__item {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: flex-start;

		@media (max-width: 576px) {
			align-items: stretch;
			text-align: center;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 16px;
		line-height: 25.6px;
	}

	&__value {
		font-style: normal;
		font-size: 16px;
		line-height: 100%;
		text-decoration-style: solid;
		text-decoration-line: underline;
		text-underline-position: from-font;
		color: var(--light-color);

		&--hover {
			transition: filter var(--time);

			&:hover {
				filter: brightness(0.8);
			}
		}
	}

	@media (max-width: 576px) {
		flex-direction: column;
	}
}
