@use 'mixins/adaptive-font' as *;

.services {
	&__cards {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
		gap: 20px;
	}
}

.services-card {
	display: flex;
	flex-direction: column;
	gap: 70px;
	border: 1px solid rgb(36 36 36 / 10%);
	border-radius: 4px;
	padding: 25px;
	width: 100%;
	box-shadow: 0 11px 24px 0 rgb(59 61 78 / 5%);
	background-color: var(--light-color);
	transition: transform var(--time);

	&__img {
		width: 85px;
		height: 85px;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		@media (max-width: 576px) {
			width: 64px;
			height: 64px;
		}
	}

	&__title {
		margin: 0;
		margin-top: auto;
		font-weight: 600;
		line-height: 1.2;
		color: var(--dark-color);
		@include adaptive-font(24, 16);
	}

	&:hover {
		transform: translateY(-5px);
	}

	@media (max-width: 576px) {
		gap: 25px;
		padding: 15px;
	}
}
