<section class="section">
	<div class="container">
		<div class="headlines headlines--small-margin">
			<h2 class="headlines__title">О компании</h2>
			<h3 class="headlines__subtitle">«Эксперт» - компания, которую выбирают</h3>
		</div>

		<div class="about">
			<div class="about__wrap">
				<div class="about__inner">
					<p class="about__text">
						Узнайте больше о нас, нашем опыте и возможностях поставок оборудования и комплектующих
					</p>
					<a class="about__link link link-reset" href="/about.html">
						Подробнее
					</a>
				</div>
				<img class="about__img" src="@img/about/img.webp" alt="">
			</div>
		</div>
	</div>
</section>