<section class="section">
	<div class="container">
		<div class="headlines">
			<h2 class="headlines__title">Наши преимущества</h2>
			<h3 class="headlines__subtitle">Причины работать с нами</h3>
		</div>

		<div class="advantages">
			<div class="advantages__cards">
				<div class="advantages-card">
					<div class="advantages-card__num">
					</div>
					<h4 class="advantages-card__title">Профессионализм</h4>
					<p class="advantages-card__text text">Открытие филиала в г. Екатеринбург</p>
				</div>
				<div class="advantages-card">
					<div class="advantages-card__num">
					</div>
					<h4 class="advantages-card__title">Оборудование</h4>
					<p class="advantages-card__text text">Открытие филиала в г. Екатеринбург</p>
				</div>
				<div class="advantages-card">
					<div class="advantages-card__num">
					</div>
					<h4 class="advantages-card__title">Доставка</h4>
					<p class="advantages-card__text text">Открытие филиала в г. Екатеринбург</p>
				</div>
				<div class="advantages-card">
					<div class="advantages-card__num">
					</div>
					<h4 class="advantages-card__title">Гибкость</h4>
					<p class="advantages-card__text text">Открытие филиала в г. Екатеринбург</p>
				</div>
			</div>
		</div>

	</div>
</section>