<section class="section">
	<div class="container">
		<div class="headlines">
			<h2 class="headlines__title">Каталог</h2>
			<h3 class="headlines__subtitle">Выбирайте материалы для себя</h3>
		</div>

		<div class="catalog">
			<div class="catalog__cards">
				<a class="catalog-card link-reset" href="#">
					<div class="catalog-card__img">
						<img src="@img/catalog/img-1.webp" alt="Столешницы">
					</div>
					<h4 class="catalog-card__title">Столешницы</h4>
				</a>

				<a class="catalog-card link-reset" href="#">
					<div class="catalog-card__img">
						<img src="@img/catalog/img-2.webp" alt="Кромка">
					</div>
					<h4 class="catalog-card__title">Кромка</h4>
				</a>

				<a class="catalog-card link-reset" href="#">
					<div class="catalog-card__img">
						<img src="@img/catalog/img-3.webp" alt="Стеновые панели">
					</div>
					<h4 class="catalog-card__title">Стеновые панели</h4>
				</a>

				<a class="catalog-card link-reset" href="#">
					<div class="catalog-card__img">
						<img src="@img/catalog/img-4.webp" alt="Столешницы">
					</div>
					<h4 class="catalog-card__title">Столешницы</h4>
				</a>

				<a class="catalog-card link-reset" href="#">
					<div class="catalog-card__img">
						<img src="@img/catalog/img-5.webp" alt="Фанера">
					</div>
					<h4 class="catalog-card__title">Фанера</h4>
				</a>

				<a class="catalog-card link-reset" href="#">
					<div class="catalog-card__img">
						<img src="@img/catalog/img-6.webp" alt="Стеновые панели">
					</div>
					<h4 class="catalog-card__title">Стеновые панели</h4>
				</a>

				<a class="catalog-card link-reset" href="#">
					<div class="catalog-card__img">
						<img src="@img/catalog/img-7.webp" alt="TSS плиты">
					</div>
					<h4 class="catalog-card__title">TSS плиты</h4>
				</a>


				<button class="catalog-card-btn is-hidden btn-reset" id="catalogShowBtn" type="button"
					aria-label="Показать весь каталог">
					<div class="catalog-card-btn__show-all"></div>
					<span class="catalog-card-btn__title">Показать весь каталог</span>
				</button>
			</div>
		</div>

	</div>
</section>