<section class="section section-contacts">
	<div class="container">
		<div class="headlines headlines--small-margin">
			<h2 class="headlines__title">Контакты</h2>
			<h3 class="headlines__subtitle">Наши контактные данные</h3>
		</div>

		<div class="contacts">
			<div class="contacts__wrap">
				<div class="contacts__card">
					<div class="contacts__item">
						<span class="contacts__title">
							Адрес офиса:
						</span>
						<address class="contacts__value">
							г. Москва, ул. Мототранспортная, 11, офис 207
						</address>
					</div>
					<div class="contacts__item">
						<span class="contacts__title">
							Контактные телефоны:
						</span>
						<div class="contacts__inner">
							<a class="contacts__value contacts__value--hover link-reset" href="tel:+73451505223">
								+7 (3451) 50-52-23
							</a>
							<a class="contacts__value contacts__value--hover link-reset" href="tel:+73252531204">
								+7 (3252) 53-12-04
							</a>
						</div>
					</div>
					<div class="contacts__group">
						<div class="contacts__item">
							<span class="contacts__title">
								Часы работы:
							</span>
							<span class="contacts__value">
								с 8:00 до 18:00
							</span>
						</div>
						<div class="contacts__item">
							<span class="contacts__title">
								E-mail:
							</span>
							<a class="contacts__value contacts__value--hover link-reset" href="mailto:info@standart.ru">
								info@standart.ru
							</a>
						</div>
					</div>
				</div>
				<div class="contacts__map contacts__map--desktop"></div>
			</div>
		</div>
	</div>
	<div class="contacts__map contacts__map--mobile"></div>
</section>