<section class="section section--pb-small">
	<div class="container">
		<div class="titles">
			<h1 class="title">
				Избранное
			</h1>
			<p class="text">
				Представляем вашему вниманию информацию о процедуре оформления заказа, способах оплаты и доставки продукции.
			</p>
		</div>
	</div>
</section>

<div class="container">
	<div class="layout">
		<aside class="sidebar" id="sidebar">
			<div class="sidebar__wrap">
				<p>Поиск</p>
				<p>Фильтры</p>
			</div>
		</aside>


		<section class="layout-section layout-section--pt-none">
			<div class="tax-catalog">
				<div class="tax-catalog__headline">
					<h2 class="title">
						Выбранные товары
					</h2>
					<button class="btn btn--filter btn-reset" id="filterBtn">
						<span>Фильтры</span>
					</button>
				</div>

				<div class="product-cards">

					<div class="product-card">
						<div class="product-card__inner">
							<div class="product-card__img">
								<img src="@img/catalog/product.webp" alt="Столешницы">
							</div>
							<div class="product-card__detalies">
								<h3 class="product-card__title">
									Столешница Белый (1106 PE), 38 мм
								</h3>

								<ul class="product-card__list-char list-char list-reset">
									<li class="list-char__item">
										Производство - Kaindl
									</li>
									<li class="list-char__item">
										Размеры - 4100 х 600 мм
									</li>
								</ul>

								<span class="product-card__price">
									7 830,00 руб/лист
								</span>
							</div>
						</div>
						<div class="product-card__controls product-card-controls">
							<div class="product-card-controls__count">
								<input class="product-card-controls__input input" type="number" value="1" placeholder="1">
								<span>шт.</span>
							</div>
							<button class="product-card__btn btn-reset">
								Удалить
							</button>
						</div>
					</div>

					<div class="product-card">
						<div class="product-card__inner">
							<div class="product-card__img">
								<img src="@img/catalog/product.webp" alt="Столешницы">
							</div>
							<div class="product-card__detalies">
								<h3 class="product-card__title">
									Столешница Белый (1106 PE), 38 мм
								</h3>

								<ul class="product-card__list-char list-char list-reset">
									<li class="list-char__item">
										Производство - Kaindl
									</li>
									<li class="list-char__item">
										Размеры - 4100 х 600 мм
									</li>
								</ul>

								<span class="product-card__price">
									7 830,00 руб/лист
								</span>
							</div>
						</div>
						<div class="product-card__controls product-card-controls">
							<div class="product-card-controls__count">
								<input class="product-card-controls__input input" type="number" value="1" placeholder="1">
								<span>шт.</span>
							</div>
							<button class="product-card__btn btn-reset">
								Удалить
							</button>
						</div>
					</div>

					<div class="product-card">
						<div class="product-card__inner">
							<div class="product-card__img">
								<img src="@img/catalog/product.webp" alt="Столешницы">
							</div>
							<div class="product-card__detalies">
								<h3 class="product-card__title">
									Столешница Белый (1106 PE), 38 мм
								</h3>

								<ul class="product-card__list-char list-char list-reset">
									<li class="list-char__item">
										Производство - Kaindl
									</li>
									<li class="list-char__item">
										Размеры - 4100 х 600 мм
									</li>
								</ul>

								<span class="product-card__price">
									7 830,00 руб/лист
								</span>
							</div>
						</div>
						<div class="product-card__controls product-card-controls">
							<div class="product-card-controls__count">
								<input class="product-card-controls__input input" type="number" value="1" placeholder="1">
								<span>шт.</span>
							</div>
							<button class="product-card__btn btn-reset">
								Удалить
							</button>
						</div>
					</div>

				</div>
			</div>
		</section>
	</div>
</div>