<footer class="footer">
	<div class="container">
		<div class="footer__wrap">

			<div class="footer__row">
				<a class="footer__logo logo" href="#/">
					<img class="logo__img" src="@img/general/logo.webp" alt="Логотип">
				</a>
				<div class="footer__menu menu">
					<nav class="menu__body">
						<ul class="menu__list list-reset">
							<li class="menu__item">
								<a class="menu__link link-reset" data-goto="">Главная</a>
							</li>
							<li class="menu__item">
								<a class="menu__link link-reset" data-goto="">О компании</a>
							</li>
							<li class="menu__item">
								<a class="menu__link link-reset" data-goto="">Производство</a>
							</li>
							<li class="menu__item">
								<a class="menu__link link-reset" data-goto="">Доставка и оплата</a>
							</li>
							<li class="menu__item">
								<a class="menu__link link-reset" data-goto="">Справочная информация</a>
							</li>
							<li class="menu__item">
								<a class="menu__link link-reset" data-goto="">Контакты</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="footer__socials socials socials--light">
					<a class="socials__link link-reset" href="#/" target="_blank">
						<svg class="socials__icon">
							<use href="img/icons/sprite.svg#mail-icon"></use>
						</svg>
					</a>
					<a class="socials__link link-reset" href="#/" target="_blank">
						<svg class="socials__icon">
							<use href="img/icons/sprite.svg#phone-icon"></use>
						</svg>
					</a>
					<a class="socials__link link-reset" href="#/" target="_blank">
						<svg class="socials__icon">
							<use href="img/icons/sprite.svg#whatsapp-icon"></use>
						</svg>
					</a>
					<a class="socials__link link-reset" href="#/" target="_blank">
						<svg class="socials__icon">
							<use href="img/icons/sprite.svg#telegram-icon"></use>
						</svg>
					</a>
				</div>
			</div>

			<div class="footer__row">
				<div class="footer__contacts footer-contacts">
					<div class="footer-contacts__item">
						<span class="footer-contacts__title">
							Наша почта:
						</span>
						<a class="footer-contacts__value footer-contacts__value--hover link-reset" href="mailto:info@standart.ru">
							info@standart.ru
						</a>
					</div>
					<div class="footer-contacts__item">
						<span class="footer-contacts__title">
							Наш телефон:
						</span>
						<a class="footer-contacts__value footer-contacts__value--hover link-reset" href="tel:+74952102898">
							+7 (495) 210-28-98
						</a>
					</div>
					<div class="footer-contacts__item">
						<span class="footer-contacts__title">
							Наш адрес:
						</span>
						<address class="footer-contacts__value">
							ул. Ленина., д. 52., п. 1
						</address>
					</div>
				</div>
				<a class="footer__link footer__link--desktop link-reset" href="#/">
					Оставить заявку
				</a>
			</div>

			<div class="footer__row footer__row--mobile">
				<a class="footer__link footer__link link-reset" href="#/">
					Оставить заявку
				</a>
			</div>

			<div class="footer__row">
				<a class="footer__policy link-reset" href="#/">
					Политика конфиденциальности
				</a>

				<span class="footer__copyright">
					Все права защищены. <br>© 2025
				</span>
			</div>
		</div>
	</div>
</footer>