<header class="header">
	<div class="container header__container">
		<div class="header__top header__row header-top">
			<div class="header-top__item">
				<address class="header-top__address">
					г. Москва, ул. Мототранспортная, 11, офис 207
				</address>

				<div class="header__inner-phone header__inner-phone--mobile">
					<a class="header__phone link-reset" href="tel:+79003002314">
						+7 (900) 300-23-14
					</a>
				</div>
			</div>
			<a class="header__logo header__logo--desktop logo" href="#/">
				<img class="logo__img" src="@img/general/logo.webp" alt="Логотип">
			</a>
			<div class="header-top__item header-top__item--right">
				<a class="header-top__link modal-link link-reset" href="#modal">
					Заказать звонок
				</a>
				<div class="socials">
					<a class="socials__link link-reset" href="#/" target="_blank">
						<svg class="socials__icon">
							<use href="img/icons/sprite.svg#mail-icon"></use>
						</svg>
					</a>
					<a class="socials__link link-reset" href="#/" target="_blank">
						<svg class="socials__icon">
							<use href="img/icons/sprite.svg#phone-icon"></use>
						</svg>
					</a>
					<a class="socials__link link-reset" href="#/" target="_blank">
						<svg class="socials__icon">
							<use href="img/icons/sprite.svg#whatsapp-icon"></use>
						</svg>
					</a>
					<a class="socials__link link-reset" href="#/" target="_blank">
						<svg class="socials__icon">
							<use href="img/icons/sprite.svg#telegram-icon"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
		<div class="header__center header__row header-center">
			<div class="header-center__search"></div>
			<div class="header__inner-phone header__inner-phone--desktop">
				<a class="header__phone link-reset" href="tel:+79003002314">
					+7 (900) 300-23-14
				</a>
			</div>
			<div class="header-center__inner-link">
				<a class="header-center__link link link-reset" href="#/">
					Избранное
				</a>
			</div>
		</div>
		<div class="header__row">
			<a class="header__logo header__logo--mobile logo" href="#/">
				<img class="logo__img" src="@img/general/logo.webp" alt="Логотип">
			</a>
			<div class="header__menu menu">
				<button class="menu__burger burger btn-reset">
					<span class="burger__line"></span>
				</button>
				<nav class="menu__body">
					<ul class="menu__list list-reset">
						<li class="menu__item">
							<a class="menu__link link-reset" data-goto="">Главная</a>
						</li>
						<li class="menu__item">
							<a class="menu__link link-reset" data-goto="">О компании</a>
						</li>
						<li class="menu__item">
							<a class="menu__link link-reset" data-goto="">Производство</a>
						</li>
						<li class="menu__item">
							<a class="menu__link link-reset" data-goto="">Доставка и оплата</a>
						</li>
						<li class="menu__item">
							<a class="menu__link link-reset" data-goto="">Справочная информация</a>
						</li>
						<li class="menu__item">
							<a class="menu__link link-reset" data-goto="">Контакты</a>
						</li>
					</ul>

					<a class="header__link link link-reset" href="#/">
						Избранное
					</a>
				</nav>
			</div>
		</div>
	</div>
</header>