<div class="modal" id="modal">
	<div class="modal__body">
		<div class="modal__content">
			<div class="modal__close close-modal"></div>
			<div class="modal__title">Оставьте заявку</div>
			<div class="modal__text text">
				Мы свяжемся с Вами в ближайшее время, проконсультируем и поможем с выбором.
			</div>
			<div class="modal-form">
				<form class="wpcf7-form" action="#">
					<p>
						<label class="modal-form__label">
							Ваше имя
							<input class="modal-form__input input input-reset" type="text">
						</label>
						<label class="modal-form__label">
							Перезвонить на телефон
							<input class="modal-form__input input input-reset" type="tel">
						</label>
						<span class="modal-form__inner">
							<input class="modal-form__submit submit input-reset" type="submit" value="Отправить">
							<span class="modal-form__policy">
								Нажимая на кнопку, вы соглашаетесь с <a class="modal-form__policy-link link-reset" href="#/">политикой
									конфиденциальности</a>
							</span>
						</span>
					</p>
				</form>
			</div>
		</div>
	</div>
</div>