<section class="section">
	<div class="container">
		<div class="options">
			<div class="options__wrap">
				<h2 class="title">Варианты оформления заказа</h2>
				<p class="text">
					Заказ товара осуществляется одним из нижеуказанных способов
				</p>
			</div>

			<div class="options">
				<div class="options__cards">
					<div class="options-card">
						<div class="options-card__num">
						</div>
						<h4 class="options-card__title">Телефонный звонок</h4>
					</div>
					<div class="options-card">
						<div class="options-card__num">
						</div>
						<h4 class="options-card__title">Электронная почта</h4>
					</div>
					<div class="options-card">
						<div class="options-card__num">
						</div>
						<h4 class="options-card__title">WhatsApp или Telegram</h4>
					</div>
					<div class="options-card">
						<div class="options-card__num">
						</div>
						<h4 class="options-card__title">Офис продаж</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>