<section class="section">
	<div class="container">
		<div class="page-contacts">
			<h2 class="title">
				Контакты
			</h2>
			<p class="page-contacts__text text">
				Представляем вашему вниманию информацию о процедуре оформления заказа, способах оплаты и доставки продукции.
			</p>

			<div class="page-contacts__card">
				<div class="page-contacts__inner">
					<div class="page-contacts__item">
						<span class="page-contacts__title">
							Наш адрес
						</span>
						<address class="page-contacts__value">
							Москва, ул. Кенинская Свобода 26с28, оф. 192
						</address>
					</div>
				</div>
				<div class="page-contacts__row">
					<div class="page-contacts__item">
						<span class="page-contacts__title">
							Время работы
						</span>
						<span class="page-contacts__value">
							08:00-16:00 по МСК
						</span>
					</div>
					<div class="page-contacts__item">
						<span class="page-contacts__title">
							Номер телефона
						</span>
						<a class="page-contacts__value page-contacts__value--hover link-reset" href="tel:+79113233231">
							+7 (911) 323-32-31
						</a>
					</div>
					<div class="page-contacts__item">
						<span class="page-contacts__title">
							E-Mail
						</span>
						<a class="page-contacts__value page-contacts__value--hover link-reset" href="mailto:expert@gmail.com">
							expert@gmail.com
						</a>
					</div>
					<div class="page-contacts__links">
						<a class="page-contacts__link page-contacts__link--bg-green link-reset" href="#/" target="_blank">
							<svg class="page-contacts__icon">
								<use href="img/icons/sprite.svg#whatsapp-icon"></use>
							</svg>
							<span class="page-contacts__link-text">
								Чат в WhatsApp
							</span>
						</a>
						<a class="page-contacts__link page-contacts__link--bg-blue link-reset" href="#/" target="_blank">
							<svg class="page-contacts__icon">
								<use href="img/icons/sprite.svg#telegram-icon"></use>
							</svg>
							<span class="page-contacts__link-text">
								Напишите
							</span>
						</a>
					</div>
				</div>
			</div>
			<div class="page-contacts__map"></div>
		</div>
	</div>
</section>