<section class="section">
	<div class="container">
		<div class="payment">
			<div class="payment__wrap">
				<h2 class="title">Возможности оплаты</h2>
				<p class="text">
					Оплата осуществляется:
				</p>
			</div>

			<div class="payment__cards">

				<div class="payment__card payment-card">
					<div class="payment-card__header">
						<h3 class="payment-card__title">
							1 вариант
						</h3>
					</div>
					<div class="payment-card__content">
						<div class="payment-card__img" style="background-image: url('@img/payment/img-1.webp')"></div>
						<span class="payment-card__text">
							По QR-коду
						</span>
					</div>
				</div>

				<div class="payment__card payment-card">
					<div class="payment-card__header">
						<h3 class="payment-card__title">
							2 вариант
						</h3>
					</div>
					<div class="payment-card__content">
						<div class="payment-card__img" style="background-image: url('@img/payment/img-2.webp')"></div>
						<span class="payment-card__text">
							По выставленному счету
						</span>
					</div>
				</div>

				<div class="payment__card payment-card">
					<div class="payment-card__header">
						<h3 class="payment-card__title">
							3 вариант
						</h3>
					</div>
					<div class="payment-card__content">
						<div class="payment-card__img" style="background-image: url('@img/payment/img-3.webp')"></div>
						<span class="payment-card__text">
							Наличными
						</span>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>