<div class="container">
	<div class="layout">
		<aside class="sidebar" id="sidebar">
			<div class="sidebar__wrap">
				<p>Поиск</p>
				<p>Фильтры</p>
			</div>
		</aside>


		<section class="layout-section">
			<div class="product">
				<div class="product__calc calc" data-height="2" data-lenght="8" data-price="2000" data-weight="5"
					data-width="9">
					<h2 class="calc__title title">
						Калькулятор
					</h2>
					<p class="calc__text text">
						Цена ориентировочная и зависит от объема
					</p>
					<div class="calc__wrap">
						<label class="calc__label">
							Кол-во листов
							<input class="calc__input input input-reset" name="count" type="text">
						</label>
						<label class="calc__label">
							Площадь
							<input class="calc__input input input-reset" name="square" type="text">
						</label>
						<label class="calc__label">
							Вес
							<input class="calc__input input input-reset" name="weight" type="text">
						</label>
						<label class="calc__label">
							Объем
							<input class="calc__input input input-reset" name="volume" type="text">
						</label>
					</div>
					<label class="calc__label">
						Стоимость
						<input class="calc__input calc__input--bold input input-reset" name="price" type="text">
					</label>
				</div>
			</div>
		</section>
	</div>
</div>