<section class="section section-request" style="background-image: url('@img/request/section-bg.webp');">
	<div class="container">
		<div class="request">

			<h2 class="request__title">
				Моментальный запрос по ценам и срокам
			</h2>

			<div class="request__form">
				<form class="wpcf7-form" action="#">
					<p>
						<label class="request__label">
							Ваше имя
							<input class="request__input input input-reset" type="text">
						</label>
						<label class="request__label">
							Перезвонить на телефон
							<input class="request__input input input-reset" type="tel">
						</label>
						<label class="request__label">
							Электронная почта
							<input class="request__input input input-reset" type="email">
						</label>
						<label class="request__inner">
							<input class="request__submit submit input-reset" type="submit" value="Далее">
							<span class="request__policy">
								Нажимая на кнопку, вы соглашаетесь с <a class="request__policy-link link-reset" href="#/">политикой
									конфиденциальности</a>
							</span>
						</label>
					</p>
				</form>
			</div>
		</div>
	</div>
</section>