<section class="section">
	<div class="container">
		<div class="headlines">
			<h2 class="headlines__title">Наши услуги</h2>
			<h3 class="headlines__subtitle">Производство</h3>
		</div>

		<div class="services">
			<div class="services__cards">
				<a class="services-card link-reset" href="#">
					<div class="services-card__img" style="background-image: url('@img/services/icon-1.webp');">
					</div>
					<h4 class="services-card__title">Конструкторский расчет</h4>
				</a>

				<a class="services-card link-reset" href="#">
					<div class="services-card__img" style="background-image: url('@img/services/icon-2.webp');">
					</div>
					<h4 class="services-card__title">Распил плитных материалов</h4>
				</a>

				<a class="services-card link-reset" href="#">
					<div class="services-card__img" style="background-image: url('@img/services/icon-1.webp');">
					</div>
					<h4 class="services-card__title">Фрезеровка</h4>
				</a>

				<a class="services-card link-reset" href="#">
					<div class="services-card__img" style="background-image: url('@img/services/icon-1.webp');">
					</div>
					<h4 class="services-card__title">Кромление</h4>
				</a>

				<a class="services-card link-reset" href="#">
					<div class="services-card__img" style="background-image: url('@img/services/icon-1.webp');">
					</div>
					<h4 class="services-card__title">Присадка</h4>
				</a>

				<a class="services-card link-reset" href="#">
					<div class="services-card__img" style="background-image: url('@img/services/icon-2.webp');">
					</div>
					<h4 class="services-card__title">Обработка компакт плит</h4>
				</a>

				<a class="services-card link-reset" href="#">
					<div class="services-card__img" style="background-image: url('@img/services/icon-1.webp');">
					</div>
					<h4 class="services-card__title">Пресс и склейка</h4>
				</a>

				<a class="services-card link-reset" href="#">
					<div class="services-card__img" style="background-image: url('@img/services/icon-1.webp');">
					</div>
					<h4 class="services-card__title">Упаковка</h4>
				</a>
			</div>
		</div>

	</div>
</section>