<div class="container">
	<div class="layout">
		<aside class="sidebar" id="sidebar">
			<div class="sidebar__wrap">
				<p>Поиск</p>
				<p>Фильтры</p>
			</div>
		</aside>


		<section class="layout-section">
			<div class="tax-catalog">

				<div class="headlines headlines--small-margin">
					<h1 class="headlines__subtitle">
						Столешницы
					</h1>
					<h2 class="is-hidden">Каталог</h2>
					<p class="text">
						Ассортимент и цены на столешницы. Продажа со складов Москвы и Московской области. Самовывоз и доставка.
					</p>
					<button class="btn btn--filter btn-reset" id="filterShowBtn">
						<span>Фильтры</span>
					</button>
				</div>

				<div class="product-cards">
					<div class="product-card">
						<div class="product-card__inner">
							<div class="product-card__img">
								<img src="@img/catalog/product.webp" alt="Столешницы">
							</div>
							<div class="product-card__detalies">
								<h3 class="product-card__title">
									Столешница Белый (1106 PE), 38 мм
								</h3>

								<ul class="product-card__list-char list-char list-reset">
									<li class="list-char__item">
										Производство - Kaindl
									</li>
									<li class="list-char__item">
										Размеры - 4100 х 600 мм
									</li>
								</ul>

								<span class="product-card__price">
									7 830,00 руб/лист
								</span>
							</div>
						</div>
						<a class="product-card__link link link-reset" href="#">
							Посмотреть
						</a>
					</div>
					<div class="product-card">
						<div class="product-card__inner">
							<div class="product-card__img">
								<img src="@img/catalog/product.webp" alt="Столешницы">
							</div>
							<div class="product-card__detalies">
								<h3 class="product-card__title">
									Столешница Белый (1106 PE), 38 мм
								</h3>

								<ul class="product-card__list-char list-char list-reset">
									<li class="list-char__item">
										Производство - Kaindl
									</li>
									<li class="list-char__item">
										Размеры - 4100 х 600 мм
									</li>
								</ul>

								<span class="product-card__price">
									7 830,00 руб/лист
								</span>
							</div>
						</div>
						<a class="product-card__link link link-reset" href="#">
							Посмотреть
						</a>
					</div>
					<div class="product-card">
						<div class="product-card__inner">
							<div class="product-card__img">
								<img src="@img/catalog/product.webp" alt="Столешницы">
							</div>
							<div class="product-card__detalies">
								<h3 class="product-card__title">
									Столешница Белый (1106 PE), 38 мм
								</h3>

								<ul class="product-card__list-char list-char list-reset">
									<li class="list-char__item">
										Производство - Kaindl
									</li>
									<li class="list-char__item">
										Размеры - 4100 х 600 мм
									</li>
								</ul>

								<span class="product-card__price">
									7 830,00 руб/лист
								</span>
							</div>
						</div>
						<a class="product-card__link link link-reset" href="#">
							Посмотреть
						</a>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>